@{
    ViewData["Title"] = "Login";
    Layout = "";
}
<form >
    <h1>login</h1>
    <input type="text" />
    <br />
    <h1>password</h1>
    <input type="text" />
    <br />
    <button>Submit</button>
</form>